// for card style and animations in Profile page
@mixin card-hover-effect {
    &:hover {
        background: $primary-background-color;
        box-shadow: 0px 4px 8px $primary-light-color;
        top: -5px; // card moves up by 4px when hovering
    }
}

.card {
    //one card for each working/education experience
    display: flex;
    flex-direction: column; //text and header shown vertically within the card
    align-items: center;
    border-radius: 0.2rem;
    background-color: #f9f9fb;
    padding: 1rem 1rem;
    margin: 1rem 0;
    font-weight: lighter;
    text-align: center;
    position: relative; //for hover effect below
    transition: 0.5s;
    @include card-hover-effect;

    * {
        padding-bottom: 1rem;
    }
}