// for smaller screens, the nav bar will collapse into a hamburger menu
nav {
    background-color: $primary-dark-color;

    .logo-and-hamburger {
        display: flex;
        padding: 0 0.5rem;
        justify-content: space-between; //logo and hamburger menu stay at the left and right of the screen
        align-items: center;

        .navbar-logo {
            font-family: 'Island Moments', cursive;
            font-size: 3rem;
            color: $primary-light-color;
            text-decoration: none;
            transition: 0.5s;

            &:hover {
                color: lighten($color: $primary-light-color, $amount: 100%);
            }
        }

        .hamburger {
            color: $primary-light-color;
            background: none;
            border: none;
        }
    }

    .navbar-menu {
        display: none; //hide the menu by default at small screen size (will collapse into a hamburger menu)
        list-style: none;
        flex-direction: column;
        align-items: center;
        background-color: $primary-dark-color;
        border-top: 2px solid white;

        li {
            padding-bottom: 0.5rem;

            a {
                color: $primary-light-color;
                // font-weight: bold;
                text-decoration: none;
                font-size: 1.5rem;
                transition: 0.5s;

                &:hover {
                    color: lighten($color: $primary-light-color, $amount: 100%);
                }
            }
        }
    }
}

//for larger screen size, the menu will show on the header for user to select
@media screen and (min-width: $media-query-min-width) {
    nav {
        .navbar-container {
            max-width: $max-content-width;
            display: flex;
            justify-content: center;
            padding: 0 0.5rem;
            margin: 0 auto;

            .logo-and-hamburger {
                flex: 1;

                .hamburger {
                    display: none; //hide the hamburger button in large screen
                }
            }

            .navbar-menu {
                display: flex !important; // navbar display should be flex and stay in the same row with logo
                flex-direction: row;
                justify-content: space-between;
                flex: 1;
                border: none;
            }
        }
    }
}