@import './default/default';
@import './components/button';
@import './components/card';

main {
    .card {
        margin: 1.5rem;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
        border-radius: 1rem;
        overflow: hidden; //hide image overflow
        position: relative;
        transition: 1s;
        @include card-hover-effect;

        a {
            text-decoration: none;
            color: $primary-dark-color;
        }

        &:hover {
            a {
                color: #3d83aa;
            }
        }

        .card-img {
            img {
                width: 100%;
                height: 100px;
                object-fit: cover;
            }
        }

        .card-body {
            .card-header {
                padding: 1rem;
            }

            .card-date,
            .card-content {
                padding: 0 1rem 1rem 1rem;
                font-weight: lighter;
            }

            .card-date {
                font-style: italic;
                font-size: smaller;
            }
        }
    }
}


@media screen and (min-width: $media-query-min-width) {
    .nav-home-link {
        border-bottom: none; //currently at blog page, so remove the line under 'home'
    }

    .nav-blog-link {
        border-bottom: 2px solid $primary-light-color; //add a line under the button to show user which page they are at
    }

    main {
        margin-top: 3vh;
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;

        .card {
            width: 25%;
            min-width: 300px;
            .card-img {
                img {
                    height: 20vh;
                }
            }

        }
    }

}