@import './default/default';

main {
    padding-top: 1.5rem;

    .contact-intro {
        p {
            font-size: 1.2rem;
            font-weight: lighter;
            padding: 1rem 0;
        }

        ul {

            li {
                list-style: none;
                font-size: 1.2rem;
                font-weight: lighter;
                padding-bottom: 1rem;

                a {
                    text-decoration: none;
                    color: black;
                }
            }
        }

        img {
            width: 100%;
        }
    }

    .contact-form-container {
        padding-top: 1rem;
        p {
            font-size: 1.2rem;
            font-weight: lighter;
            font-style: italic;
        }
        form {
            display: flex;
            flex-direction: column;
            .name, .phone-and-email {
                display: flex;
                flex-direction: column;
            }
            .input {
                height: 3rem;
                margin-top: 1.2rem;
                padding-left: 0.5rem;
                font-family: inherit;
                font-weight: lighter;
                font-size: 1.2rem;
                border-top-style: hidden;
                border-left-style: hidden;
                border-right-style: hidden;
                border-bottom-color: $primary-dark-color;
                border-bottom-width: 1px;

                &::placeholder {
                    font-style: italic;
                }

                &:focus::placeholder {
                    color: transparent; //hide the placeholder when focus
                }

                &:focus {
                    outline: none;
                }
            }

            .submit {
                height: 3rem;
                font-family: inherit;
                font-weight: lighter;
                font-size: 1.2rem;
                width: 100%;
                padding-left: 0;
                margin: 1.2rem auto;
                background-color: white;
                border: 1px solid $primary-dark-color;
                &:hover {
                    background-color: black;
                    color: white;
                }
            }
        }
    }
}


@media screen and (min-width: $media-query-min-width) {
    .nav-home-link {
        border-bottom: none; //currently at blog page, so remove the line under 'home'
    }

    .nav-contact-link {
        border-bottom: 2px solid $primary-light-color; //add a line under the button to show user which page they are at
    }

    main {
        display: flex;
        flex-direction: column;
        .contact-intro {
            position: relative;
            .intro-text {
                position: absolute; //text stays on top of the image
                top: 10%;
                left: 5%;
                color: white; //text color change to white so it can be clearly shown on image
                h1 {
                    font-size: 4rem;
                    width: 20rem;
                }
                p {
                    font-size: 1.5rem;
                }
                ul {
                    li {
                        font-size: 1.5rem;
                        a {
                            color: white;
                        }
                    }
                }
            }
        }
        .contact-form-container {
            display: flex;
            // flex-direction: column;
            align-items: center;
            justify-content: space-evenly;
            
            form {
                // width: 50%;
                .name,.phone-and-email {
                    // padding: 1.5rem;
                    flex-direction: row;
                    justify-content: space-between;
                    & :first-child {
                        margin-right: 1rem;
                    }
                }

            }
        }
    }

}