nav {
  background-color: #323232;
}
nav .logo-and-hamburger {
  display: flex;
  padding: 0 0.5rem;
  justify-content: space-between;
  align-items: center;
}
nav .logo-and-hamburger .navbar-logo {
  font-family: "Island Moments", cursive;
  font-size: 3rem;
  color: #cccccc;
  text-decoration: none;
  transition: 0.5s;
}
nav .logo-and-hamburger .navbar-logo:hover {
  color: white;
}
nav .logo-and-hamburger .hamburger {
  color: #cccccc;
  background: none;
  border: none;
}
nav .navbar-menu {
  display: none;
  list-style: none;
  flex-direction: column;
  align-items: center;
  background-color: #323232;
  border-top: 2px solid white;
}
nav .navbar-menu li {
  padding-bottom: 0.5rem;
}
nav .navbar-menu li a {
  color: #cccccc;
  text-decoration: none;
  font-size: 1.5rem;
  transition: 0.5s;
}
nav .navbar-menu li a:hover {
  color: white;
}

@media screen and (min-width: 800px) {
  nav .navbar-container {
    max-width: 1300px;
    display: flex;
    justify-content: center;
    padding: 0 0.5rem;
    margin: 0 auto;
  }
  nav .navbar-container .logo-and-hamburger {
    flex: 1;
  }
  nav .navbar-container .logo-and-hamburger .hamburger {
    display: none;
  }
  nav .navbar-container .navbar-menu {
    display: flex !important;
    flex-direction: row;
    justify-content: space-between;
    flex: 1;
    border: none;
  }
}
footer {
  max-width: 1300px;
  margin: 0.5rem auto;
  padding: 0.5rem;
}
footer div {
  text-align: center;
  padding-top: 0.5rem;
  color: #323232;
  border-top: 1px solid #cccccc;
}

.fade-in {
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-name: fade-in;
          animation-name: fade-in;
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.sidebar ul {
  display: flex;
  justify-content: space-evenly;
  padding-top: 1rem;
}
.sidebar ul li {
  list-style: none;
}
.sidebar ul li a {
  text-decoration: none;
  color: #323232;
}
.sidebar ul li a :hover {
  color: #86a9cb;
  transform: scale(1.5);
}

@media screen and (min-width: 800px) {
  .sidebar {
    position: fixed;
    right: 0;
    top: 40vh;
    background: #cccccc;
    border-radius: 4px;
    padding: 1rem 0.5rem;
  }
  .sidebar ul {
    flex-direction: column;
    justify-content: space-between;
    height: 8rem;
    padding-top: 0;
  }
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "roboto", cursive;
  overflow-x: hidden;
}

main {
  padding: 0 0.5rem;
  margin: 0 auto;
}
main .self-intro-container {
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
}
main .self-intro-container .self-intro-text {
  background: #fbfbfd;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
  margin-bottom: 1rem;
  text-align: center;
}
main .self-intro-container .self-intro-text h2 {
  font-size: 1.5rem;
  font-weight: bold;
  padding-bottom: 0.5rem;
  font-style: italic;
}
main .landing-page-img img, main .profile-page-image img {
  width: 100%;
  height: auto;
}
main .about-me-container .about-me-text {
  display: flex;
  flex-direction: column;
  padding: 2rem 1rem;
  background: #fbfbfd;
}
main .about-me-container .about-me-text h2 {
  width: 2rem;
  overflow-y: visible;
  border-top: 1px solid #323232;
  padding: 1rem 0;
}
main .about-me-container .about-me-text button {
  background: white;
  border-radius: 8px;
  border-color: #323232;
  padding: 4px 10px;
  margin-top: 1rem;
  transition: 0.5s;
  box-shadow: 2px 2px 2px #cccccc;
  position: relative;
  width: 7rem;
}
main .about-me-container .about-me-text button a {
  font-family: "roboto";
  color: #323232;
  text-decoration: none;
  font-weight: lighter;
  font-size: 1rem;
}
main .about-me-container .about-me-text button::after {
  content: ">>";
  opacity: 0;
  position: absolute;
  color: #cccccc;
  top: 6px;
  right: -15px;
  transition: 0.5s;
}
main .about-me-container .about-me-text button:hover {
  background: #323232;
  padding-left: 0;
  padding-right: 15px;
}
main .about-me-container .about-me-text button:hover a {
  color: #cccccc;
}
main .about-me-container .about-me-text button:hover::after {
  opacity: 1;
  right: 5px;
}

@media screen and (min-width: 800px) {
  .nav-home-link {
    border-bottom: 2px solid #cccccc;
  }
  main {
    max-width: 1300px;
  }
  main .self-intro-container .self-intro-text {
    padding: 5%;
  }
  main .self-intro-container .landing-page-img {
    background: black;
    display: flex;
    justify-content: center;
  }
  main .self-intro-container .landing-page-img img {
    height: 40vh;
    width: auto;
  }
  main .about-me-container .about-me-text {
    padding: 5%;
  }
  main .about-me-container .about-me-text p {
    line-height: 1.5rem;
  }
}/*# sourceMappingURL=main.css.map */