@import './default/default';
@import './components/header';
@import './components/footer';
@import './components/button';
@import './components/animation';
@import './components/sidebar';

* {
    // reset default setting of box model
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: $primary-font-family, cursive;
    overflow-x: hidden; //make html not scrollable horizontally
}

main {
    padding: 0 0.5rem;
    margin: 0 auto;

    .self-intro-container {
        padding: 1rem 0;
        display: flex;
        flex-direction: column;

        .self-intro-text {
            background: $primary-background-color;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 1rem;
            margin-bottom: 1rem;

            h2 {
                font-size: 1.5rem;
                // text-align: center;
                font-weight: bold;
                padding-bottom: 0.5rem;
            }
        }


    }

    .landing-page-img, .profile-page-image {
        img {
            width: 100%;
            height: auto;
        }
    }

    .about-me-container {
        .about-me-text {
            display: flex;
            flex-direction: column;
            padding: 2rem 1rem;
            background: $primary-background-color;
            h2 {
                width: 2rem;
                overflow: visible;
                border-top: 1px solid $primary-dark-color;
                padding: 1rem 0;
            }

            button {
                @include btn-style;
                width: 7rem;
            }
        }
    }
}

// at larger screen size:
@media screen and (min-width: $media-query-min-width) {

    .nav-home-link {
        border-bottom: 2px solid $primary-light-color; //add a line under the button to show user which page they are at
    }

    main {
        max-width: $max-content-width;

        .self-intro-container {
            .self-intro-text {
                padding: 5%;
            }

            .landing-page-img {
                background: black;
                display: flex;
                justify-content: center;

                img {
                    height: 40vh;
                    width: auto;
                }
            }
        }

        .about-me-container {
            .about-me-text {
                padding: 5%;

                p {
                    line-height: 1.5rem;
                }
            }
        }
    }
}