@import './default/default';
@import './components/header';
@import './components/footer';

* {
    // reset default setting of box model
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: $primary-font-family, cursive;
}

main {
    padding: 0 0.5rem;

    .intro-container {
        // position: absolute;
        padding: 2rem 0;

        .self-intro-text {
            h2 {
                text-align: center;
                font-weight: bold;
                color: $primary-dark-color;
                padding-bottom: 0.5rem;
            }
        }
    }

    .landing-page-img {
        img {
            width: 100%;
            height: auto;
        }
    }

    .about-me-container {
        .about-me-text {
            display: flex;
            flex-direction: column;
            padding: 0 1rem;

            h2 {
                width: 2rem;
                overflow: visible;
                border-top: 1px solid $primary-dark-color;
                padding: 1rem 0;
            }

            p {
                padding-bottom: 1rem;
            }
        }
    }
}

// at larger screen size:
@media screen and (min-width: 600px) {
    .home-button {
        border-bottom: 2px solid $primary-light-color; //add a line under the button to show user which page they are at
    }
    .navbar-container {
        max-width: $max-width;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        .logo-and-hamburger {
            .hamburger {
                display: none; //hide the hamburger button in large screen
            }
        }
        .navbar-menu {
            display: flex !important; // navbar display should be flex and stay in the same row with logo
            flex-direction: row;
            justify-content: space-evenly;
            flex: 1;
            border: none;
        }
    }
    main {
        max-width: $max-width;
        margin: 0 auto;
        .intro-container {
            display: flex;
            justify-content: space-between;
            .self-intro-text {
                display: flex;
                flex-direction: column;
                justify-content: center;
                padding: 5%;
            }
            .landing-page-img {
                width: 60%;
            }
        }

        .about-me-container {
            display: flex;
            flex-direction: row-reverse;
            .about-me-text {
                justify-content: center;
                padding: 5%;
                p {
                    line-height: 1.5rem;
                }
            }
        }
    }


    // .sidebar {
    //     // make the sidebar always at the middle right of the screen
    //     display: flex;
    //     flex-direction: column;
    //     position: fixed;
    //     right: 0;
    //     top: 50%;
    // }
}