@import './default/default';
@import './components/button';
@import './components/card';

main {
    .self-intro-container {
        .self-intro-text {
            h2 {
                //similar style with home page 'about me' section
                width: 2rem;
                overflow: visible;
                border-top: 1px solid $primary-dark-color;
                padding: 1rem 0;
            }

            p {
                text-align: start;
                font-weight: lighter
            }

            .resume-btn {
                @include btn-style;
                width: 12rem;
            }
        }
    }

    .profile-container {
        display: flex;
        flex-direction: column; //job experience and education shown vertically
        align-items: center;

        .experience-container,
        .education-container {
            display: flex;
            flex-direction: column; // header and cards shown vertically
            align-items: center;
            padding: 2rem 1rem;
            width: 100%;
            background: $primary-background-color;

            .experience-header,
            .education-header {
                padding-bottom: 1rem;
            }

            .card-container {
                display: flex;
                flex-direction: column; //all cards shown vertically at small screen size
                width: 100%;
                
            }
        }
        .education-container {
            padding-top: 0;
        }

    }
}

@media screen and (min-width: $media-query-min-width) {
    .nav-home-link {
        border-bottom: none; //currently at profile page, so remove the line under 'home'
    }

    .nav-profile-link {
        border-bottom: 2px solid $primary-light-color; //add a line under the button to show user which page they are at
    }

    main {
        .self-intro-container {
            display: flex;
            flex-direction: row; //text and image shown horizontally for large screen size
            height: 50%;

            .self-intro-text {
                margin: 0 1rem 0 0;
            }

            img {
                width: 50%;
                height: auto;
            }
        }

        .profile-container {

            .experience-container,
            .education-container {
                .card-container {
                    flex-direction: row; //cards shown horizontally for large screen size
                    justify-content: space-evenly;
                    flex-wrap: wrap;

                    .card {
                        margin: 1rem 1rem;
                        flex: 1;
                        min-width: 300px;
                    }
                }
            }
        }

    }

}